* {
    font-family: 'Lato', sans-serif;
}
body {
    margin: 0px;
}
    header {
        background-color: #2196f3;
        border-bottom: 1px solid #00000069;
        height: 52px;
        padding: 31px 10px 31px 0;
    }
        #barraDeNavegacion {
            display: grid;
            grid-template-columns: 30% 60% 10%;
            margin: 0 auto;
            align-items: center;
            max-width: 1020px;
            justify-items: center;
        }
            #logoSurAmerica {
                width: 70%;
                height: auto;
            }
            #menuDeEnlaces {
                display: inline-block;
            }
                header a {
                    text-decoration: none;
                }
                    header span {
                        margin: 0 11px;
                        font-size: 19px;
                        color: #101f73;
                        font-weight: bold;
                    }
                    header span:hover {
                        color: blue;
                    }
                #logoCesta {
                    vertical-align: middle;
                    font-size: 38px;
                    color: firebrick;
                }
                #btnDesplegarMenu {
                    background-color: #ddd7d7;
                    border: 0px;
                    display: none;
                    height: 28px;
                    width: 100%;
                    width: fit-content;
                    padding: 0;
                }
                    #btnDesplegarMenu span {
                        color: black;
                        width: 100%;
                        margin: 0;
                    }

        /* Panel de navegación para pantallas chicas */
        #navegacionPantallasChicas {
            display: block;
            position: fixed;
            top: 0;
            left: 100%;
            height: 100%;
            width: 100%;
            background: #2196f3;
            overflow-x: auto;
            transition: left .6s ease-in-out 0s;
        }
            #navegacionPantallasChicas > span {
                display: flex;
                flex-flow: row nowrap;
                justify-content: space-between;
                align-items: center;
                margin: 13px 11px;
            }
                #navegacionPantallasChicas > span > h2 {
                    margin-left: 18px;
                }
                #btnCerrarMenu {
                    border: 0;
                    background-color: transparent;
                }
                #btnCerrarMenu > span {
                    font-size: 38px;
                }
            #navegacionPantallasChicas > ol {
                margin: 0 auto;
                padding: 0 44px;
                max-width: 500px;
                height: 330px;
            }
                .enlacesPantallaChica {
                    list-style-type: none;
                    border-bottom: 1px solid black;
                    display: flex;
                    align-items: center;
                    height: 69px;
                }
                    .enlacesPantallaChica > span {
                        margin: 10px 0;
                    }


@media (max-width : 832px) {
    header {
        height: fit-content;
    }
        #barraDeNavegacion {
            grid-template-columns: 60% 20% 20%;
        }
            #menuDeEnlaces {
                display: none;
            }
                header span:hover {
                    color: #101f73;
                }
            #cajaCesta {
                justify-self: end;
            }
                #logoCesta {
                    font-size: 41px;
                }
            #btnDesplegarMenu {
                display: initial;
                width: 57px;
                height: 34px;
            }
    }